@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@500;700&display=swap');
:root {
    --button: #FF0000;
    --main-background: #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

a, li{
    list-style: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #ffffff 40%, #C4C4C4 40%);
}


#container {
    width: 100%;
}

#navbar {
    width: 92%;
    height: 3rem;
    margin: 39px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .linksContainer{
    width: 60%;
    height: 100%;
    margin: 0 5.125rem 0 7.125rem;
}

#navbar .linksContainer ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar .linksContainer a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text);
}

#navbar .searchContainer{
    width: 13.75rem;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
}

#navbar .searchContainer img{
    margin-left: 0.813rem;
}

#navbar .searchContainer input{
    width: 100%;
    height: 100%;
    border: none;
    align-items: center;
    font-weight: 500;
    padding-left: 0.313rem;
    font-size: 1.125rem;
}

#mainContainer{
    width: 100%;
    height: 73.72vh;
    display: flex;
    justify-content: space-between;
}

#mainContainer .ctaSection{
    width: 40%;
    padding: 6.438rem 4.5rem 11.938rem 12rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#mainContainer .ctaSection h1{
    width: 23.438rem;
    height: 17rem;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    flex-shrink: 0;
}

#mainContainer .ctaSection p{
    width: 21.375rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-description);
    margin: 1.313rem 0;
    line-height: normal;
}

#mainContainer .ctaSection span{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.875rem;
}

#mainContainer .ctaSection button{
    width: 17.125rem;
    height: 5.625rem;
    background-color: var(--button);
    color: rgba(255, 255, 255);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

#mainContainer .pictureSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainContainer .pictureSection .smallerPictures{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
}

#mainContainer .pictureSection .mainPicture{
    width: 597px;
    height: 510px;
}

#mainContainer .pictureSection .smallerPictures img{
    width: 270px;
    height: 183px;
}

#mainContainer .pictureSection .smallerPictures img:hover{
    border-bottom: 5px solid var(--button);
}

#mediaLinksContainer{
    width: 100%;
    height: 10.375rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);
}

#mediaLinksContainer .socialMediaLinks{
    width: 100%;
    height: 100%;
}

#mediaLinksContainer .socialMediaLinks ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#mediaLinksContainer .socialMediaLinks a{
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text);
}

#mediaLinksContainer .moreButton{
    width: 27.313rem;
    background-color: var(--footer);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .875rem
}

#mediaLinksContainer .moreButton a{
    color: rgba(255, 255, 255);
}